:root {
  --social-color: #c4dbf6;
  --social-alt-color: #a10b01;
  --link-color: var(--social-alt-color);
  --transition-red: #d10e01;
  --white-color: #fafafa;
  --text-color: var(--white-color);
  --name-color: #e8f0fa;
  --title-color: var(--name-color);
  --bkgrnd-color: #3b8beb;
  --mid-grey-color: #555;
  /* --about-bkgrnd-color: #6c758a; */

  --left-side-width: 34%;
}

:root[theme='dark'] {
  --social-color: #cbe3ff;
  --social-alt-color: #df0f00;
  --link-color: var(--social-alt-color);
  --transition-red: #d10e01;
  --white-color: #fcfcfc;
  --text-color: var(--white-color);
  --name-color: #e8f0fa;
  --title-color: var(--name-color);
  --bkgrnd-color: #10243d;
  --mid-grey-color: #555;
}

body {
  font-family: 'Poppins', sans-serif;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--bkgrnd-color);
  /* color: var(--text-color); */
  box-sizing: border-box;
}

.link {
  padding: 1%;
}

.link--red {
  color: var(--link-color);
  transition: color 0.5s;
}

.link__on-hover:hover {
  color: var(--white-color);
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.hidden {
  display: none;
}

textarea {
  resize: none;
}

/****************************\
    Site Header:
\****************************/

.site-header {
  display: inline-flex;
  flex-flow: row nowrap;
  z-index: 2;
  padding: 2rem 4rem;
  width: 100%;
  transition: 0.4s ease-in-out;
  animation: 0.7s curtain cubic-bezier(0.86, 0, 0.07, 1) 0.4s both;
}

.intro {
  width: 80%;
}

.greeting {
  font-size: 20px;
  color: var(--social-color);
}

#my-name {
  color: var(--name-color);
  font-size: 30px;
  margin-left: 1em;
}

.greeting-3em-offset {
  margin-left: 3em;
}

.navigation {
  display: flex;
  width: 20%;
  height: 30px;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 35px;
  color: var(--white-color);
}

/****************************\
    Main:
\****************************/

main {
  min-width: 0;
}

/****************************\
    Quick About:
\****************************/

.quick-about {
  width: 60%;
  padding: 2em;
  color: var(--social-color);
}

.social-media {
  margin: 30px 0;
}

.social {
  color: var(--social-color);
  border: 1px solid var(--social-color);
  font-size: 25px;
  padding: 12px 22px;
  border-radius: 50%;
  background: transparent;
  transition: all 0.4s ease-in-out;
  box-shadow: 0px 10px 30px transparent;
}

.social--padding {
  margin: 0 30px;
}

.social:hover {
  cursor: pointer;
  border: none;
  color: var(--white-color);
  background: var(--social-alt-color);
  box-shadow: 0px 10px 30px var(--social-alt-color);
}

/****************************\
    Container:
\****************************/

.container {
  width: 70%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: var(--mid-grey-color);
  color: var(--social-color);
  padding: 0;
  /* border-radius: 5px; */
}

.left {
  width: 40%;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  background-color: #999;
}

.right {
  width: 60%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
  display: flex;
}

/****************************\
    Right Side:
\****************************/

.portfolio {
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
}

.portfolio-header {
  position: absolute;
  z-index: 1;
  padding: 0.5rem 1rem;
  transform: translateY(-50%);
  right: 3rem;
  color: var(--white-color);
  /* background-color: #a10b01; */
  background-image: linear-gradient(
    to bottom right,
    var(--social-alt-color),
    var(--transition-red)
  );
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.223);
  border-radius: 5px;
}

.portfolio-examples {
  position: relative;
  height: 100%;
}

.portfolio-examples img {
  width: 100%;
}

.portfolio-examples__item {
  display: flex;
  padding: 6px 12px;
  color: var(--white-color);
  background: var(--social-alt-color);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.123);
  border-radius: 25px;
}

.portfolio-examples__link:active,
.portfolio-examples__link:hover,
.portfolio-examples__link:visited,
.portfolio-examples__link:active,
.portfolio-examples__link:link,
.portfolio-examples__link:focus {
  text-decoration: none;
  color: var(--white-color);
}

.portfolio-wrapper {
  position: relative;
}

.btn-padding {
  padding: 5px 8px;
}

.more-info-btn {
  cursor: pointer;
  font-size: 20px;
  border-radius: 50%;
  padding: 12px 12px;
  color: var(--white-color);
  background-color: var(--social-alt-color);
}

.live-width {
  min-width: 112px;
}

.view-live {
  cursor: pointer;
  font-size: 15px;
  border-radius: 50%;
  padding: 5px 8px;
  color: var(--white-color);
  background-color: var(--social-alt-color);
}

.portfolio-examples ul {
  list-style: none;
  position: absolute;
  left: 50%;
  bottom: 0.25em;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-examples li {
  margin-left: 1em;
  color: var(--white-color);
}

.portfolio-examples .more-info {
  min-height: 15vh;
  font-size: 0.95rem;
}

.project-summary {
  color: var(--white-color);
  background: #444;
  padding: 0.5em 1em;
  border: 1px solid var(--white-color);
}

.overview {
  color: black;
  background: var(--white-color);
  padding: 0.5em 1em;
  border: 1px solid var(--mid-grey-color);
}

/****************************\
    Left Side:
\****************************/

.about {
  width: 100%;
  padding: 1em;
  background: var(--mid-grey-color);
}

.contact {
  padding: 1em;
  color: var(--mid-grey-color);
  background: var(--social-color);
  min-height: 40vh;
}

.contact-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-form input {
  width: 90%;
  padding: 0.5em;
  border-radius: 7px;
  margin: 0.25em 0;
  outline: none;
  border: 1px solid var(--mid-grey-color);
}

.contact-form textarea {
  width: 90%;
  margin: 0.25em 0;
  padding: 0.5em;
  border-radius: 7px;
  outline: none;
  min-height: 12vh;
  border: 1px solid var(--mid-grey-color);
}

.contact-form button {
  width: 50%;
  margin-top: 0.75em;
  border-radius: 7px;
  color: var(--text-color);
  background: var(--social-alt-color);
  border: 1px solid var(--mid-grey-color);
}

/****************************\
    Footer:
\****************************/

footer {
  display: flex;
  position: relative;
  width: 100%;
  /* align-self: center; */
  justify-content: center;
  margin-top: 3em;
}

footer .footer__github {
  padding: 3px 6px;
  position: absolute;
  bottom: 0px;
  right: 36.5%;
  border-radius: 50%;
  color: var(--white-color);
  background: var(--social-alt-color);
}

/****************************\
    Animations:
\****************************/

@keyframes curtain {
  0% {
    grid-gap: 92vw;
  }

  100% {
    grid-gap: 0;
  }
}

@keyframes social-media {
  0% {
    transform: rotate(-15deg);
  }
  2% {
    transform: rotate(15deg);
  }
  4% {
    transform: rotate(-18deg);
  }
  6% {
    transform: rotate(18deg);
  }
  8% {
    transform: rotate(-22deg);
  }
  10% {
    transform: rotate(22deg);
  }
  12% {
    transform: rotate(-18deg);
  }
  14% {
    transform: rotate(18deg);
  }
  16% {
    transform: rotate(-12deg);
  }
  18% {
    transform: rotate(12deg);
  }
  20%,
  100% {
    transform: rotate(0deg);
  }
}
.faa-social.animated,
.faa-social.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-ring {
  animation: social-media 5s ease infinite;
  transform-origin-x: 50%;
  transform-origin-y: 0px;
  transform-origin-z: initial;
}
